body{
    background-image: url("BG.jpg");
    background-attachment: fixed;    
}
.container{
   background-color:#55d858;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   width: 75%;
   height:1000px;
   margin-left: 150px;
   margin-top: 100px;
}
.navbar{
    background-color: #197b30;
    width: 100%;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.menu{
    display: inline;
    margin-left: 30px;
    padding-top: 20px;
    font-size: 22px;
    color: white;
    stroke: black;
    text-decoration: none;
}
#logo{
    margin-left: 20px;
    width: 200px;
    height: 200px
}
.containerBerita {

    width: 70%;
    height: 850px;
    background-color:white;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#hias {
    background-color: #197b30;
    width: 100%;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.labelkiat{
    height: 40px;
    width: 250px;
    margin-bottom: 30px;
    border-top-right-radius: 25px;
    background-color: #197b30;

}
.kiat{
    font-size: 20px;
    margin-left: 50px;
    padding-top: 10px;
    color: white;
}
.judulberita{
margin-left: 10px;
}
.tanggal {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}
#fotoartikel{
    display: inline-block;
    width: 350px;
    height: auto;
    margin-left: 10px;
}
#artikel{
    margin-left: 10px;
    
}
#foto1{
    width: 360px;
    height: auto;
}
.bacaselengkapnya{
    text-decoration: none;
    color: black;

}
.bacaselengkapnya:hover{
    color:#55d858;
}

#foot{
    margin-left: 30px;
    text-align: center;
    color:#55d858;
}