body{
    background-image: url("BG.jpg");
    background-attachment: fixed;    
}
.container{
   background-color:#55d858;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   width: 75%;
   height:3600px;
   margin-left: 150px;
   margin-top: 100px;
}
.navbar{
    background-color: #197b30;
    width: 100%;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.menu{
    display: inline;
    margin-left: 30px;
    padding-top: 20px;
    font-size: 22px;
    color: white;
    stroke: black;
    text-decoration: none;
}
#logo{
    margin-left: 20px;
    width: 200px;
    height: 200px
}

.containerBerita {

    width: 70%;
    height: 3450px;
    background-color:white;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#hias {
    background-color: #197b30;
    width: 100%;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.labelkiat{
    height: 40px;
    width: 250px;
    margin-bottom: 30px;
    border-top-right-radius: 25px;
    background-color: #197b30;

}
.kiat{
    font-size: 20px;
    margin-left: 50px;
    padding-top: 10px;
    color: white;
}
.judulberita{
    margin-left: 15px;
    text-decoration: none;
    font-size:34px ;
    color: black;
    text-align: left;
    font-weight: normal;
}
.tanggal {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}
#foto1{
    width: 480px;
    height: auto;
    margin-left: 100px;
}
#artikel{
    margin-left: 10px;
    
}
.bacaselengkapnya{
    text-decoration: none;
    color: #197b30;

}
.bacaselengkapnya:hover{
    color:#55d858;
}

#foot{
    margin-left: 30px;
    margin-top: 50px;
    text-align: center;
    color:#55d858;
}
#kiat1{
    width:220px;
    height: auto;
    margin-left: 15px;
}
.kiatjudul{
    font-weight: bold;
    margin-left: 5px;
    margin-top: 15px;
    color: black;
    text-decoration: none;

}
.bullet{
    margin-left: 50px;
}
#penulis{
    font-size: 12px;
    opacity: 80%;
}
#detailfoto{
    text-align: center;
    font-size: 12px;
    opacity: 70%;
}

@media only screen and (max-width: 896px) {
    
body{
    background-image: url("BG.jpg");
    background-attachment: fixed;    
}
.container{
   background-color:#55d858;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   width: 75%;
   max-width: 100%;
   height:100%;
   margin-left: 10%;
   margin-top: 10%;
   place-content: center;
}
.navbar{
    background-color: #197b30;
    width: 100%;
    height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    list-style: none;
    border-bottom: none;
}
.menu{
    margin-left: 9%;
    padding-top: 10%;
    font-size: 20px;
    color: white;
    stroke: black;
    text-decoration: none;
    place-content: center;
    text-align: center;
}
#logo{
    margin-left: 30%;
    width: 40%;
    height: 20%;
    
}
.containerBerita {

    width: 90%;
    height: 100%;
    background-color:white;
    place-content: center;
    
}
.containerkiat {
    width: 90%;
    height: 100%;
    background-color:#55d858;
    place-content: center;
    
}
#hias {
    background-color: #197b30;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.labelkiat{
    display: none;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    border-top-right-radius: 20%;
    background-color: #197b30;
    margin-top: 10px;
    margin-bottom: 100px;

}
.kiat{
    width:100%;
    font-size: 20px;
    color: white;
}
.judulberita{
    margin-top: 20%;
    text-decoration: none;
    font-size:34px ;
    color: black;
    text-align: left;
}
.tanggal {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}
#fotoartikel{
    display: inline-block;
    width: 100%;
    height: auto;
    
}
#artikel{
   text-align:justify;
   padding-right:10px;
    
}
#foto1{
    width: 70%;
    height: auto;
}
.bacaselengkapnya{
    text-decoration: none;
    color: #197b30;

}
.bacaselengkapnya:hover{
    color:#55d858;
}

#foot{
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    color:#55d858;
}
#kiat1{
    width:100%;
    padding-top:20px;
    height: auto;
    margin-left: 10px;
}
.kiatjudul{
    font-weight: bold;
    margin-left: 5px;
    margin-top: 15px;
    color: black;
    text-decoration: none;

}
.content-komentar,label,#usernamebox,#komenBox,#komentar{
    margin-left: 20px;
    width: 80%;
}
#komenBox{
width: 100;
height: 150px;
}
.container-komen{
    border: 1px solid black;
    background-color:wheat;
    padding: 15px;
}
.Nama{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
#mengatakan{
    font-size: 20px;
    font-weight: bold;

}
.pemberitahuan{
    font-size: 40px;
    font-weight: bold;
    width: 100%;
}
    
}
